@page
@model ParkingSlotManagement.Pages.Reservations.Create
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <h2>Create Reservation</h2>

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Slot Id</label>
            <input asp-for="Reservation.SlotId" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Vehicle No</label>
            <input asp-for="Reservation.VehicleNo" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-page="/Reservations/Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>